h1{
    color: brown;
    background-color: red;
    text-align: center;
}
figure{
    text-align: left;
    padding: 4px;
    background: linear-gradient(to right, red,purple,blue);
    height: auto;
}
img{
    height: 50%;
    width: 50%;
}